body {
    font-family: Neucha, sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #cb6ce6;

}
header {
    margin-bottom: 15px;
    margin-top: 50px;
}

h2 {
  font-size: 20px;
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
}

div {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
 padding-top: 40px;
}

#title {
    text-align: center;
    font-size: 40px;
}

#logo {
    padding: 10px;
    width: auto;
    height: 150px;
}

#name {
    background-color: #38b6ff;
    padding: 10px;
}

#randomizer {
    background-color: #38b6ff;
}


.button-56 {
  align-self: center;
  background-color: #e3a5ff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1.3rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:hover {
  box-shadow: rgba(0, 0, 0, .7) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-56:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

